venv/
.idea/
animachi/.env
animachi/animachi/settings/dev.py
animachi/animachi/settings/__pycache__/
animachi/animachi/__pycache__/
animachi/animachi/api/__pycache__/
animachi/animachi/api/migrations/

