.container{
  width: 80%;
}
.anime-card-clickable{
  cursor: pointer;
}
.anime-card{
  max-width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.invisible{
  display: none;
}
.mat-button-focus-overlay{
  display: none;
}
