<p>
  ようこそ！ {{ account.username }}さん！
</p>
<button mat-ripple mat-raised-button (click)="addAnimeClicked()" color="accent">
    追加
</button>
<button mat-ripple mat-raised-button type="submit" color="accent" (click)="logoutClicked()">
    ログアウト
</button>
<br>
<div *ngIf="selectedAnime && !selecterAnime">
  <h2>Details:</h2>
  <h4>{{ selectedAnime.title }}</h4>
  <p>{{ selectedAnime.description }}</p>
  <ngb-rating [rate]="selectedAnime.avg_rating" (hove)="hovered=$event" (leave)="hovered=0" [readonly]="true" max="5"></ngb-rating>
  ({{ selectedAnime.no_of_ratings }})
  <br>
  <button mat-ripple mat-raised-button (click)="editAnimeClicked()" color="accent">
    編集
  </button>
  <button mat-ripple mat-raised-button (click)="deleteAnimeClicked()" color="warn">
    削除
  </button>
  <h3>評価</h3>
  <ngb-rating [rate]="my_rating" (hover)="hovered=$event" max="5" (rateChange)="newRate($event)"></ngb-rating>
</div>
<div *ngIf="isAddEditMode">
  <h2>
    <span *ngIf="isEdit">編集</span>
    <span *ngIf="!isEdit">新規</span>
    アニメ:
  </h2>
  <form (ngSubmit)="submitAnime()" [formGroup]="animeInput">
    <div class="form-group">
      <mat-form-field class="example-full-with">
        <input matInput placeholder="Title" formControlName="title">
        <mat-error *ngIf="animeInput.get('title').hasError('required')">
          <strong>タイトルは必須です</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="exapmle-full-width">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="animeInput.get('description').hasError('required')">
          <strong>本文がありません</strong>
        </mat-error>
      </mat-form-field>
      <button mat-ripple mat-raised-button color="primary" type="submit" [disabled]="animeInput.invalid || loading">
        保存
      </button>
      <button mat-ripple mat-raised-button (click)="closeEditFormClicked()">キャンセル</button>
      <br>
      <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
    </div>
  </form>
</div>
<br>
<div class="container">
  <div *ngFor="let anime of animes;" class="anime-card-clickable">
    <mat-card class="anime-card">
      <mat-card-header (click)="animeClicked(anime)">
        {{ anime.title }}
      </mat-card-header>
      <mat-card-content>
        <p>{{ anime.description }}</p>
        <div [ngClass]="{'invisible': !isFavorited[anime.id]}">
            <button mat-mini-fab (click)="clickedFavorite(anime.id)">
              <mat-icon>favorite</mat-icon>
            </button>
        </div>
        <div [ngClass]="{'invisible': isFavorited[anime.id]}">
          <button mat-mini-fab (click)="clickedFavorite(anime.id)">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
